<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 mt-1 height 100"><%= render "public/homes/end_user_info",end_user: @end_user %> </div>
    <div class="col-md-9 mt-1">
      <p class="text-center marker-border-blue h3">レビュー一覧<span class="h4">(<%= @reviews.count %>件)</span></p>
      <% @reviews.each do |review| %>
        <%= render "public/end_users/review_index", review: review %>
      <% end %>
    </div>
  </div>
</div>