<div class="container">
  <div class ="row">
    <div class= "text-center mt-5" >
      <h1>トライアスロンを始めよう!</h1><br>
      <h1>誰もが最初は初心者</h1><br>
      <h1>青い海、澄んだ空気そんな最高地球を感じながら</h1>
    </div>
  </div>
</div>
