<div class ="main-container">
  <div class="container about-container">
    <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
      <p class="h1 text-white">トライアスロンを始めよう!</p>
      <p class="text-white h5">
        誰もが最初は初心者<br>
        青い海、澄んだ空気そんな最高な地球を感じながら
      </p>
    </div>
  </div>
</div>

<style>
.main-container {
  background-image: url(<%= asset_path 'top.jpg' %>);
  background-size: cover;
  background-position: center;
  /*padding-top: 120px;*/
  /*padding-bottom: 67px;*/

}
</style>
