<div class="container about-container">
  <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
    <h1>トライアスロンを始めよう!</h1>
    <p>
      誰もが最初は初心者<br>
      青い海、澄んだ空気そんな最高地球を感じながら
    </p>
  </div>
</div>
