<div class ="main-container">
  <div class="container about-container">
    <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
      <p class="h1 text-white">トライアスロンを始めよう</p>
      <p class="text-white h5">
        思い出を記録して<br>
        お気に入りの大会を見つけよう
      </p>
    </div>
  </div>
</div>

<style>
.main-container {
  background-image: url(<%= asset_path 'about.jpg' %>);
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}
</style>
