<div class="container">
  <div class="row mt-5">
    <div class ="col-md-3">
      <%= render "districts",districts: @districts %>
    </div>
    <div class="col-md-9">
      <%= render "public/reviews/race_index",races: @races  %>
      <div class="text-center mt-5"> <%=link_to "レビューを書く",new_review_path, class: "btn btn-primary" %></div>
    </div>
  </div>
</div>