@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  padding-top: 120px;
  padding-bottom: 67px;
}

.about-container {
  width: 100%;
  height: calc(100vh - 120px - 67px);
}

.marker-border-blue{
    background:linear-gradient(transparent 50%, #f0f8ff 0%);
}

.under_line{
    text-decoration: underline;
}


.pagination {
  justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  .w-lg-responsive {
    width: auto;
  }
}
@media screen and (max-width: 991.98px) {
  .w-lg-responsive {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {}
@media screen and (max-width: 575.98px) {}